<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>About Us</h2>
      <p><%= @about_us_content.content.html_safe %></p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <h2>Contact Us</h2>
      <p><%= @contact_us_content.content.html_safe %></p>
    </div>
  </div>

  <% if current_customer&.admin? %>
    <div class="container mt-4">
      <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header">
          <h3 class="mb-0">Admin Controls</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start">
            <%= link_to 'Edit About Us', edit_content_path(section: 'about_us'), class: 'btn btn-outline-dark text-decoration-none m-2' %>
            <%= link_to 'Edit Contact Us', edit_content_path(section: 'contact_us'), class: 'btn btn-outline-dark text-decoration-none m-2' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
