<div class="mb-4">
  <div class="card" id="<%= dom_id @order %>" style="<%= action_name == 'show' ? 'max-width: 800px; margin: auto;' : 'width: 95%' %>;">
    <div class="card-body">
      <div class="card-title-bar text-center py-3">
        <% if action_name == 'show' %>
          <h1 class="card-title mb-0">
            Order #<%= @order.id %>
          </h1>
        <% else %>
          <h5 class="card-title mb-0">
            Order #<%= @order.id %>
          </h5>
        <% end %>
      </div>

      <p class="card-text"><strong>Date:</strong> <%= @order.order_date %></p>
      <p class="card-text"><strong>Total Amount:</strong> <%= number_to_currency(@order.total_amount, unit: "$", precision: 2) %></p>

      <h4 class="mt-4">Order Items</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.quantity %></td>
              <td>$<%= item.product.price %></td>
              <td>$<%= item.product.price * item.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
