<div class="mb-4">
  <div class="card" id="<%= dom_id product %>" style="<%= action_name == 'show' ? 'width: 80%; margin: auto;' : 'width: 95%' %>;">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to product.name, product_path(product), class: "text-decoration-none" %>
      </h5>
      <p class="card-text">
        <strong>Description:</strong>
        <% if action_name == 'show' %>
          <%= product.description %>
        <% else %>
          <%= truncate(product.description, length: 50) %>
        <% end %>
      </p>
      <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
      <p class="card-text"><strong>Stock Quantity:</strong> <%= product.stock_quantity %></p>
      <p class="card-text"><strong>Category:</strong> <%= product.category.name %></p>
      <div>
        <% if action_name == 'index' %>
          <%= link_to 'View', product_path(product), class: 'btn btn-outline-dark text-decoration-none m-2' %>
        <% elsif action_name == 'show' %>
          <%= link_to "Back to products", products_path, class: 'btn btn-outline-dark text-decoration-none m-2' %>
        <% end %>
        <%= link_to 'Add To Cart', product_path(product), class: 'btn btn-outline-dark text-decoration-none m-2' %>
      </div>
    </div>
  </div>
</div>
