<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1 class="text-center mb-4">Products</h1>

<div id="filter" class="d-flex justify-content-between mb-4">
  <div>
    <%= paginate @products, theme: 'bootstrap-5' %>
  </div>
  <%= form_with(url: products_path, method: :get, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :category, "Filter by category:", class: 'mr-2' %>
      <%= form.select :category, options_from_collection_for_select(@categories, :id, :name, selected: params[:category]), prompt: "Select a Category", class: "form-control form-control-sm w-auto" %>
      <%= form.submit "Filter", class: "btn btn-outline-dark btn-sm ml-2" %>
    </div>
  <% end %>
</div>

<div id="products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <%= render partial: "product", locals: { product: product, action_name: 'index' } %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= paginate @products, theme: 'bootstrap-5' %>
</div>

<% if current_customer&.admin? %>
  <div class="container mt-4">
    <div class="card ml-3" style="max-width: 300px;">
      <div class="card-header">
        <h2 class="mb-0">Admin Controls</h2>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="text-center">
            <%= link_to "New Product", new_product_path, class: 'btn btn-outline-dark btn-sm m-2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

